.board {
  background-color: aquamarine;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}

#player-hand {
  background-color: blue;
  width: 600px;
  height: 150px;
  position: relative;
  align-content: center;
  align-items: center;
}

#dealer-hand {
  background-color: blue;
  width: 600px;
  height: 150px;
  position: relative;
  align-content: center;
  align-items: center;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
